# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

reddit.config
test.py
/redditCricketSentimentAnalyzer/testing_folder/
/redditCricketSentimentAnalyzer/credentials/reddit_credentials.json
